---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
<p align = "justify"> 
<h2>Conference Papers</h2>
<ol reversed>
  <li>
    <strong>Z. Chen</strong>, et al. <em>SmartPIR: A Private Information Retrieval System using Computational Storage Devices</em>, 
    IEEE/ACM <strong>MICRO</strong>, 2025. (CCF-A)
  </li>
  <li>
    <strong>Z. Chen</strong>, et al. <em>ChainKV: A Semantics-Aware Key-Value Store for Ethereum System</em>, 
    ACM <strong>SIGMOD</strong>, 2024. (CCF-A)
  </li>
  <li>
    <strong>Z. Chen</strong>, et al. <em>Block-Ism: An Ether-aware Block-ordered LSM-tree based Key–Value Storage Engine</em>, 
    IEEE <strong>ICCD</strong>, 2021. (CCF-B, Best Paper Session)
  </li>
</ol>

<h2>Journal Articles</h2>
<ol reversed>
  <li>
    <strong>Z. Chen</strong>, et al. <em>HMC-FHE: A Heterogeneous Near Data Processing Framework for Homomorphic Encryption</em>, 
    IEEE <strong>TCAD</strong>, 2024. (CCF-A)
  </li>
  <li>
    <strong>Z. Chen</strong>, et al. <em>A ReRAM-based Processing-in-Memory Framework for LSM-based Key–Value Store</em>, 
    IEEE <strong>TCAD</strong>, 2024. (CCF-A)
  </li>
  <li>
    Q. Wei, <strong>Z. Chen</strong>, et al. <em>A Semantic-Integrated LSM-Tree–Based Key–Value Storage Engine for Blockchain Systems</em>, 
    IEEE <strong>TCAD</strong>, 2024. (CCF-A)
  </li>
</ol>
<\p>



